<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Matemática - Interpolação Polinomial</title>

    <!-- Bootstrap -->
    <link href="assets/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    <!-- ChartJS -->
    <link href="assets/css/angular-chart.min.css" rel="stylesheet">

    <link href="assets/css/style.css" rel="stylesheet">

	<!-- ChartJS -->
     <script type="text/javascript" src="assets/js/chart.min.js"></script>

    <!-- Angular JS -->
    <script type="text/javascript" src="assets/js/angular.min.js"></script>

    <!-- ChartJS Angular -->
    <script type="text/javascript" src="assets/js/angular-chart.min.js"></script>

    <!-- App -->
    <script type="text/javascript" src="app/app.js"></script>


  </head>
  <body ng-app="mathApp">
	  <div class="container" >
	  <div class="row" ng-controller="LineCtrl">
		  <div class="col-md-3 left-sidebar">
		  		<br/>
		  		<h3>Interpolação<br/>
		  		Polinomial</h3>
		  		<br/>
		  		<div>
		  			<select class="form-control" 
		  			ng-model="selectedItem"
		  			ng-options="values.indexOf(selectedItem) as selectedItem for selectedItem in values">
		  			</select>

		  		</div><br/>

		  		<div class="row">
		  			<div class="col-md-6">
		  				X1: <input ng-model='x1' type="number" class="form-control">
		  			</div>
		  			<div class="col-md-6">
		  				Y1: <input ng-model='y1' type="number" class="form-control">
		  			</div>
		  		</div><br/>
		  		<div class="row">
		  			<div class="col-md-6">
		  				X2: <input ng-model='x2' type="number" class="form-control">
		  			</div>
		  			<div class="col-md-6">
		  				Y2: <input ng-model='y2' type="number" class="form-control">
		  			</div>
		  		</div>
		  		<br/>
		  		<div class="row" ng-show='selectedItem >= 1'>
		  			<div class="col-md-6">
		  				X3: <input ng-model='x3' type="number" class="form-control">
		  			</div>
		  			<div class="col-md-6">
		  				Y3: <input ng-model='y3' type="number" class="form-control">
		  			</div>
		  		</div>

		  		<br/>
		  		<div class="row" ng-show='selectedItem >= 2'>
		  			<div class="col-md-6">
		  				X4: <input ng-model='x4' type="number" class="form-control">
		  			</div>
		  			<div class="col-md-6">
		  				Y4: <input ng-model='y4' type="number" class="form-control">
		  			</div>
		  		</div>
		  		
		  		 <button ng-click='calcular()' type="buttom" class="btn btn-success button-calc">Calcular</button>
		  </div>
		  <div class="col-md-9 corpo"> 
		  		
		  		<div class="panel panel-default">
				  <div class="panel-heading">
				  	<span class='fa fa-area-chart'></span>
				  	Gráfico Aproximado</div>
				  <div class="panel-body">
					<canvas id="line" class="chart chart-line" chart-data="data"
				  chart-labels="labels" chart-legend="true" chart-series="series">
				</canvas> 
				  </div>
				</div>

		  </div>
	  </div>
	  </div>

   
 	<script src="assets/js/jquery.min.js"></script>

    <script src="assets/js/bootstrap.min.js"></script>
  </body>
</html>