body{
	overflow-x: hidden;
	background-color: #f1f1f1;
	font-family: 'Roboto', 'Arial';
}

.left-sidebar{
	background-color:#6f5499;
	color: white;
	text-align: center;
	min-height: 100vh;
	padding-bottom: 70px;
}

.corpo{
	min-height: 100vh;
	background-color: #f1f1f1;
	padding: 20px;
}

.container{
	width:100%;
}

.button-calc{
	width: 92%;
    position: absolute;
    bottom: 20px;
    left: 4%;
}

.text-red{
	color:#2C0000;
	font-size: 14px;
	font-weight: bold;
}